li>div{

display: inline-block;

}
li{
    list-style-type: none;
    padding: 10px;
}

.Legend{

    font-size: 3vw;
    text-align: right;
    float: left;
    width: 50%;



}
.totLost{
    border-top:1px solid gray ;
    color: gray;
}
.triangule{
    float: left;
    margin-right: 1vw;
    border: 0.5em solid transparent;
    border-bottom: 0.5em solid black;
}
.כשירות {
    margin-top: 12px;
    border: 0.5em solid transparent;
    border-top: 0.5em solid black;
}